{% extends "index.html" %}
{% block body %}
    <h1 class="h1">Decompress</h1>
    <div class="columns">
        <div class="column">
            <form action="" method=post enctype=multipart/form-data>
                <p><input type=file name=file>
                   <input type=submit value=Upload>
            </form>
            {% if output_name %}
            <a href="/return-files/{{ output_name }}">
                <button>Download</button>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}