<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/AOAstyles.css">
    <title>Compress</title>
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="/compress" class="compress">Compress</a></li>
                <li><a href="/decompress" class="decompress">Decompress</a></li>
            </ul>
        </nav>
    </div>
    <form action="/compress" id="uploadFileForm" method="POST" enctype=multipart/form-data>
        <select name="algorithms" id="selectAlgo" class="selectAlgo">
            <option value="LZ77" selected>Lempel Ziv 77</option>
            <option value="LZW">Lempel Ziv Welch</option>
        </select>
        <br><br>
        <div class="fileContainer">
            <div class="files">
                <span class="dragFile">Drag a file here</span>
                <p class="pickFileText">or pick one</p>
                <div class="divButton">
                    <div class="uploadButton">
                        <input type=file name=file id="file" class="fileButton">
                        <label for="file">+</label>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <br>
        <div class="beforeUpload" id="beforeUpload">
            <div class="submitDiv">
                <input class="submitButton" type=submit value="Upload" form="uploadFileForm">
            </div>
        </div>
        <!-- If success, output this -->
        {% if output_name %}
        <div class="afterUpload" id="afterUpload">
            <div class="downloadDiv">
                <a class="downloadButton" href="/return-files/{{ output_name }}">Download Compressed File
                    Here</a>
            </div>
            
            <div class="compressedDetails">
                <p class="rawSize">Raw Size: 40kb</p>
                <p class="csize">Compressed Size: 24kb</p>
                <p class="rate">Rate of Compression: 40%</p>
            </div>
        </div>
        {% endif %}
    </form>

    <script src="../static/AOAJs.js"></script>

</body>

</html>