<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/AOAstyles.css">
    <link rel="stylesheet" href="../static/AOAstylesD2.css">
    <title>Decompress</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/compress" >Compress</a></li>
            <li><a href="/decompress">Decompress</a></li>
        </ul>
    </nav>

    <main>
        <form action="/decompress" id="uploadFileForm" method="POST" enctype=multipart/form-data>
            <div>
                <div class="files">
                    <p class="pickFileText">Upload a file</p>
                    <div class="divButton">
                        <div class="uploadButton">
                            <input type=file name=file id="file" class="fileButton">
                            <label for="file">+</label>
                        </div>
                    </div>
                    <span style="padding-top: 20px;" id = "filename"></span>
                </div>
            </div>
            <div class="beforeUpload" id="beforeUpload">
                <div class="submitDiv">
                    <input class="submitButton" type=submit value="Upload" form="uploadFileForm">
                </div>
            </div>
            {% if output_name %}
            <div class="downloadDiv">
                <a class="downloadButton" href="/return-files/{{ output_name }}">Download Decompressed File
                    Here</a>
            </div>
            <div class="compressedDetails">
                <p class="rawSize">Raw Size: {{ old_file_size }}bytes</p>
                <p class="csize">Compressed Size: {{ new_file_size }} bytes</p>
                <p class="rate">Rate of decompression: {{ decompression_rate }}%</p>
            </div>
            {% endif %}
        </form>
    </main>
</body>

<script>
    console.log("start")
    var input = document.getElementById('file');
    var infoArea = document.getElementById( 'filename' );

    input.addEventListener( 'change', (event) => {
        console.log("here?")
        var input = event.srcElement;
    
        // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
        var fileName = input.files[0].name;
        
        // use fileName however fits your app best, i.e. add it into a div
        infoArea.innerHTML = 'File name: ' + fileName;
    });
</script>

</html>